.mob-menu-wrapper{
  display: none;
  z-index: 30;
  position: absolute;
  width: 68px;
  height: 58px;
  top: 0;
  left: 0;
}

.mob-menu {
  width: 20px;
  height: 1px;
  top: 29px;
  left: 10px;
  position: absolute;
  background: #606060;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
  transition:all .2s ease-out;
}

.mob-menu::before, .mob-menu::after{
  content:'';
  width: 20px;
  height: 1px;
  background: #606060;
  position: absolute;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  transition:all .2s ease-out;
}

.mob-menu::before {
  top: -7px;
}

.mob-menu::after {
  bottom: -7px;
}

.mob-menu-wrapper.active .mob-menu {
  background: #fff;
}

.mob-menu-wrapper.active .mob-menu::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.mob-menu-wrapper.active .mob-menu::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}


.popup .popup-menu li .header-chats-resp {
  display: none;
}

.chat-resp-menu {
  width: 36px;
  height: 32px;
  margin-right: 15px;
  float: left;
  position: relative;
  display: none;
  &:after {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -7px;
    background: url('../img/sprite.svg') no-repeat -248px -17px;
    width: 15px;
    height: 12px;
  }
}

.chats-header {
  width: 100%;
  padding: 20px;
  display: none;
  box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
  position: fixed;
  top: 0;
  z-index: 20;
  background: #fff;
  .chat-resp-goback {
    width: 36px;
    height: 32px;
    position: absolute;
    left: 20px;
    top: 20px;
    display: block;
    &:after {
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -6px;
      margin-left: -7px;
      background: url('../img/sprite.svg') no-repeat -248px -17px;
      width: 15px;
      height: 12px;
    }
  }
  .chats-header-title {
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    letter-spacing: 1.3px;
    font-size: 13px;
    text-align: center;
  }
}

.popup-close {
  content: '';
  position: absolute;
  background: url(../img/sprite.svg) no-repeat -264px -44px;
  width: 32px;
  height: 32px;
  right: 13px;
  top: 10px;
  cursor: pointer;
  z-index: 999;
  display: none;
}

.resp-title-wrapper, .resp-menu-button {
  display: none;
}

.resp-title-wrapper {
  display: none;
  font-size: 14px;
  padding-bottom: 16px;
  margin: 0 0 15px 0;
  position: relative;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-bottom: solid 1px #e2e2e2;
}

.popup-menu a.notification{
  position: relative;
  &:after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    z-index: 2;
    background: #ff6701;
    border-radius: 50%;
    line-height: 1;
    margin: 0 0 5px 5px;
  }
}

@media screen and (max-width: 1300px) {
  .card-list .card-wrapper, .grid-sizer {
    width: 32%;
  }
  .chat-page .content2-left {
    display: none;
  }
  .chat-page .content2-right {
    margin-left: 0;
  }
  .chat-page {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1050px) {
  .resp-menu-wrapper{
    position: fixed;
    overflow-y: auto;
    z-index: 20;
    background: #fff;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 58px;
    padding-bottom: 30px;
    -webkit-transform: translateX(-330px);
    -moz-transform: translateX(-330px);
    -o-transform: translateX(-330px);
    transform: translateX(-330px);
    @include transition(0.2s);
    &.active{
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);
      box-shadow: 0 14px 40px 1px rgba(187, 187, 187, 0.6);
    }
    .widget{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .right-show {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  .topbarter {
    margin-top: 0;
  }
  .content-left {
    margin-right: 0;
  }
  header .header-left .location .location-link{
    display: none;
  }
  .home-page .header-left .logo {
    margin-left: 50px;
  }
  .mob-menu-wrapper{
    display: block;
    @include transition(0.2s);
    &.active{
      width: 325px;
      left: 0;
      background: #b3b3b3;
      position: fixed;
      .mob-menu{
        background: #b3b3b3;
        &:after, &:before {
          background: #fff;
        }
      }
    }
  }
  .location-link-resp{
    display: block;
  }
  header .header-left .location{
    position: inherit;
  }
  .popup.location-popup {
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .popup-close{
      display: block;
    }
    .popup-tail{
      &:before, &:after {
        display: none;
      }
      .resp-title-wrapper{
        display: block;
      }
    }
  }
  #user {
    .content2-right {
      margin-left: 0;
    }
    .content2-left {
      width: 100%;
      float: none;
      .widget.widget-menu{
        margin-bottom: 40px;
        .profile-menu {
          text-align: center;
          li{
            border-bottom: 0;
            display: inline-block;
            a{
              padding: 15px;
              &:before{
                width: 100%;
                height: 3px;
                bottom: 0;
                top:auto;
              }
            }
          }
          .active a{
            background: none;
          }
        }
      }
    }
  }
  .popup.location-popup .popup-tail form {
    margin-top: 40px;
    padding: 0 20%;
  }
  .single-page .content-right {
    position: relative;
    width: 100%;
    right: 0;
    margin-top: 30px;
    .author-offers{
      .author-offers-item {
        width: 23.5%;
        margin-right: 2%;
        &:nth-child(2n){
          margin-right: 2%;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  .card-list .card-wrapper .card .favorite {
    opacity: 1;
    visibility: visible;
  }
  .settings-left{
    float: none;
    width:auto;
  }
  .settings-right {
    border-left: 0;
    margin-left: 0;
  }
  .card-onoff span, .card-edit span, .card-del span {
    font-size:0px;
    padding: 20px;
  }
  .card-onoff span:after, .card-edit span:after, .card-del span:after{
    left: 12px;
  }
  .card-onoff, .card-edit, .card-del {
    top: 20px;
    opacity: 1;
    visibility: visible;
  }
  .card-off {
    left: 65px;
  }
  .card-del {
    left: 110px;
  }
}

@media screen and (max-width: 900px) {
  .chat-page {
    padding-bottom: 0;
    header {
      display: none;
    }
    .content {
      margin-top: 0;
      .wrapper {
        padding: 0;
        .chat-content {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
        }
      }
    }
  }
  .chat-message-input .chat-message-input-wrapper {
    padding: 10px 50px 10px 10px;
    .chat-send-message {
      width: 50px;
      right: 0;
    }
    .chat-message-input-options {
      right: 60px;
    }
  }
  .chat-page {
    .chats {
      position: absolute;
      left: -100%;
      top: 0;
      z-index: 5;
      background: #fff;
      padding-top: 72px;
      width: 100%;
      &.active {
        left: 0;
      }
      .chats-header{
        display: block;
      }
    }
    .chat-frame {
      margin-left: 0;
      .chat-resp-menu {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .popup-auth .popup-auth-wrapper {
    max-width: 375px;
  }
  .popup-auth-left {
    display: none;
  }
  .popup-auth-right {
    width: 100%;
  }
  .search-form .search-form-check-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    height:auto;
    border-right: 0;
    line-height: 30px;
  }
  .search-form .search-form-check-wrapper .search-form-opt {
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .search-form .search-form-check-wrapper .search-form-opt .search-form-opt-title {
    margin-left: 0;
  }
  .search-form .search-form-input {
    padding-left: 20px;
  }
  .search-form .search-form-check-wrapper .search-form-opt .search-form-opt-wont, .search-form .search-form-check-wrapper .search-form-opt .search-form-opt-have {
    top: -5px;
  }
  .search-form-results {
    top: 100px;
    left: 0;
  }
  .left-main {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .right-main {
    width: 100%;
    float: none;
  }
  .fotorama {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
  }
  .single-page{
    .search-form {
      display: none;
    }
  }
  .fotorama__nav-wrap {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .resp-menu-wrapper{
    width: 100%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .card-list .card-wrapper, .grid-sizer {
    width: 49%;
  }
  .popup.location-popup .popup-tail form {
    padding: 0 30px;
  }
  header .header-right .header-chats{
    display: none;
  }
  .popup .popup-menu li .header-chats-resp {
    display: block;
  }
  header .header-right .header-profile {
    position: inherit;
  }
  .popup .popup-menu li a {
    padding: 14px 20px;
  }
  .popup .popup-tail {
    font-size: 15px;
  }
  .popup.profile-popup {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
  }
  .popup.profile-popup {
    .popup-tail:before, .popup-tail:after {
      display: none;
    }
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: fixed;
    .resp-title-wrapper{
      display: block;
    }
    .popup-close{
      display: block;
    }
  }
  .header-profile-img.notification{
    &:before{
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      border: 2px solid #fff;
      width: 6px;
      height: 6px;
      z-index: 2;
      background: #ff6701;
      border-radius: 50%;
    }
  }
  .footer {
    padding: 30px 0;
    height: 126px;
    .copyright {
      float: none;
      text-align: center;
    }
    .footer-menu {
      float: none;
      text-align: center;
      margin-bottom: 20px;
      li:first-child{
        margin-left: 0;
      }
    }
  }
  header .header-right .header-profile {
    margin-right: 30px;
  }
  header .header-right .header-profile .header-profile-img:after {
    display: none;
  }
  header .header-right .header-profile .header-profile-img {
    margin-right: 0;
    padding-right: 0;
    width: 36px;
  }
  .mob-menu-wrapper.active {
    width: 100%;
  }
  .single-page .content-right .author-offers .author-offers-item {
    width: 48%;
    margin-right: 4%;
    &:nth-child(2n){
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 570px) {
  header .header-right .publish{
    font-size: 0;
    padding: 0 18px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background: url('../img/sprite.svg') no-repeat -272px -109px;
      width: 14px;
      height: 14px;
      top: 50%;
      left: 50%;
      margin-top: -7px;
      margin-left: -7px;
    }
  }
  .popup-auth {
    background: #fff;
  }
  .popup-auth .popup-auth-wrapper {
    max-width: 100%;
    min-height: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    top: 0;
    .popup-close {
      display: block;
    }
  }
  .popup-auth.active .popup-auth-wrapper {
    transform: translate(-50%, 0);
  }
  .popup-show-phone .popup-close {
    display: block;
  }
  .bluetip_wrapper{
    .bluetip{
      background-image: none;
      padding-left: 25px;
    }
  }
}

@media screen and (max-width: 450px) {
  .wrapper{
    padding: 0 10px;
  }
  .mob-menu {
    left: 0;
  }
  .popup.location-popup .popup-tail form {
    padding: 0 20px;
  }
  .page-content {
    padding: 35px 20px 70px 20px;
  }
  .content-middle {
    padding: 25px 20px 70px 20px;
  }
  #user .content2-left .widget.widget-menu .profile-menu li a {
    padding: 15px 10px;
  }
  .search-form .search-form-submit{
    font-size: 0;
    padding: 0 20px 0 36px;
  }
  .location-link-resp {
    right: 65px;
  }
  .search-form-results{
    right: 56px;
  }
  header .header-left .logo{
    width: 115px;
    background: url('../img/logo-mobile.svg') no-repeat 0 0;
  }
}

@media screen and (max-width: 360px) {
  .card-edit {
    left: 10px;
  }
  .card-off {
    left: 55px;
  }
  .card-del {
    left: 100px;
  }
  .card-onoff, .card-edit, .card-del {
    top: 10px;
  }
}