@import '_normalize';
@import '_selectize';
@import '_fotorama';
@import '_owl.carousel.min';
@import '_owl.theme.default.min';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=cyrillic');

$blue: #ff6701;
$orange: #ff6701;
$bgsize: 380px 255px;
@mixin transition($time) {
	-webkit-transition: all $time ease-out;
	-moz-transition: all $time ease-out;
	-o-transition: all $time ease-out;
	transition: all $time ease-out;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.orangebutton {
	display: block;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	border: 0;
	cursor: pointer;
	background: $orange;
	@include transition (0.2s);
	&:hover {
		background: #f36100;
	}
}

.graybutton {
	display: inline-block;
	text-decoration: none;
	color: #9c9c9c;
	@include transition (0.2s);
	border: 1px solid #d8d8d8;
	padding:8px 17px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	&:hover{
		color: #ff6701;
		border: 1px solid #ff6701;
	}
}


.blueborderbutton {
	display: inline-block;
	text-decoration: none;
	color: #ff6701;
	@include transition (0.2s);
	border: 1px solid #ff6701;
	padding:9px 17px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	&:hover{
		color: #94b1ec;
		border: 1px solid #94b1ec;
	}
}

.orangeborderbutton {
	display: inline-block;
	text-decoration: none;
	color: #ff6701;
	@include transition (0.2s);
	border: 1px solid #ff6701;
	padding:9px 17px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	&:hover{
		color: #ea5e00;
		border: 1px solid #ea5e00;
		background: #fff4ec;
	}
}

#highlighted {
	color: $orange;
}

.tag {
	display: block;
	border-radius: 3px;
	text-decoration: none;
	color: #616161;
	background: #fff;
	border: 1px solid #e2e2e2;
	@include transition (0.2s);
	&:hover {
		background: #ff6701;
		border: 1px solid #ff6701;
		color: #fff;
	}
}

.graylink {
	text-decoration: none;
	color: #9c9c9c;
	@include transition (0.2s);
	&:hover{
		color: #ff6701;
	}
}

.orangelink {
	text-decoration: none;
	color: #ff6701;
	@include transition (0.2s);
	&:hover{
		color: #CB5A01;
	}
}

.blacklink {
	text-decoration: none;
	color: #616161;
	@include transition (0.2s);
	&:hover{
		color: #ff6701;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

html{
	height: 100%;
}

body {
	background: url(../img/pattern.png) #f7f4f3;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #616161;
	position: relative;
	padding-bottom: 206px;
	min-height: 100%;
}

.chat-page {
	background: #f7f4f3;
	padding-bottom: 70px;
}

p {
	margin: 0 0 10px 0;
	line-height: 22px;
}

.wrapper {
	max-width: 1460px;
	width: 100%;
	padding: 0 30px;
	margin: 0 auto;
}

.content .wrapper {
	position: relative;
}

header {
	background: #fff;
	padding: 11px 0;
	height: 58px;
	box-shadow: 0 0 4px rgba(25,25,25,0.1);
	.header-right {
		float: right;
		.auth{
			margin-right: 25px;
			font-weight: 600;
			line-height: 36px;
		}
		.publish{
			padding: 0 27px;
			line-height: 36px;
			height: 36px;
			font-weight:600;
			float: right;
		}
		.header-profile {
			display: block;
			margin-right: 50px;
			position: relative;
			float: right;
			.header-profile-img{
				width: 54px;
				height: 36px;
				margin-right: 10px;
				padding-right: 18px;
				display: block;
				position: relative;
				float: left;
				img{
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
				&:after{
					content:'';
					display: block;
					position: absolute;
					right: 0;
					top: 50%;
					@include transition(0.2s);
					margin-top: -3px;
					background: url('../img/sprite.svg') no-repeat -89px -17px;
					width: 11px;
					height: 6px;
					background-size: $bgsize;
				}
			}
		}

		.header-profile.active .header-profile-img:after {
			transform: rotate(180deg);
		}
		.header-chats{
			position: relative;
			display: block;
			margin-right: 40px;
			line-height: 36px;
			padding-left: 25px;
			float: right;
			&:after{
				content:"";
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -9px;
				z-index: 1;
				background: url('../img/sprite.svg') no-repeat -32px -10px;
				width: 17px;
				height: 17px;
				background-size: $bgsize;
			};
			&.notification:before {
				content: '';
				display: block;
				position: absolute;
				left: 12px;
				top: 6px;
				border: 2px solid #fff;
				width: 6px;
				height: 6px;
				z-index: 2;
				background: $orange;
				border-radius: 50%;
			}
		}
	}
	.header-left {
		.logo{
			font-size: 28px;
			font-weight: bold;
			float: left;
			width: 151px;
			height: 25px;
			display: block;
			margin-top: 6px;
			background: url('../img/logo.svg') no-repeat 0 0;
		}
		.location {
			position: relative;
			margin-left: 100px;
			float: left;
			.location-link {
				line-height: 36px;
				position: relative;
				padding-left: 20px;
				width: 250px;
				text-overflow: ellipsis;
				overflow: hidden;
				display: block;
				white-space: nowrap;
				&:after{
					content:'';
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -9px;
					background: url('../img/sprite.svg') no-repeat -7px -11px;
					width: 13px;
					height: 17px;
					background-size: $bgsize;
				}
			}
		}
	}
}

.locations {
	overflow: hidden;
	margin-bottom: 10px;
	.location-item {
		float: left;
		padding: 10px 30px 10px 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -5px;
			background: url('../img/sprite.svg') no-repeat -239px -50px;
			width: 11px;
			height: 11px;
		}
	}
}

.popup {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	border-radius: 5px;
	@include transition(0.1s);
	-webkit-transform: translate(0, -20px);
	-moz-transform: translate(0, -20px);
	-ms-transform: translate(0, -20px);
	-o-transform: translate(0, -20px);
	transform: translate(0, -20px);
	z-index: 999;
	box-shadow: 0 14px 40px 1px rgba(187, 187, 187, 0.6);
	border: solid 1px #d8d8d8;
	&.active{
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity:1;
		visibility: visible;
	}
	.popup-name{
		font-weight: bold;
		margin-bottom: 5px;
		display: inline-block;
		padding: 0 20px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.popup-email{
		color: #9c9c9c;
		padding: 0 20px;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
		white-space: nowrap;
	}
	.popup-menu {
		clear: both;
		list-style: none;
		padding: 15px 0 15px 0;
		border-top: solid 1px #e2e2e2;
		border-bottom: solid 1px #e2e2e2;
		margin: 15px 0 15px 0;
		li{
			&:last-child{
				margin-bottom: 0;
			}
			a{
				padding: 10px 20px;
				display: block;
				line-height: 1;
				&:hover{
					background: #f3f3f3;
				}
			}
		}
	}

	.exit {
		position: relative;
		padding-left: 23px;
		margin: 0 20px;
		&:after{
			content:"";
			display: block;
			position: absolute;
			background: url('../img/sprite.svg') no-repeat -110px -82px;
			width: 17px;
			height: 16px;
			background-size: $bgsize;
			left: 0;
			top: 50%;
			margin-top: -8px;
		}
	}
	.popup-tail {
		position: relative;
		padding: 20px 0;
		height: 100%;
		&:after{
			content: "";
			top: 0;
			margin-top: -15px;
			border: 8px solid transparent;
			border-bottom: 8px solid #fff;
			position: absolute;
		}
		&:before{
			content: "";
			top: 0;
			margin-top: -16px;
			border: 8px solid transparent;
			border-bottom: 8px solid #d8d8d8;
			position: absolute;
		}
	}
}

.popup.profile-popup {
	right: 4px;
	top: 47px;
	width: 240px;
	.popup-tail{
		&:after{
			right: 34px;
		}
		&:before{
			right: 34px;
		}
	}
}

.popup.location-popup {
	width: 360px;
	left: 0;
	top: 47px;
	.popup-tail {
		form{
			padding: 0 20px;
			margin-bottom:0;
			.form-item{
				margin-bottom: 20px;
			}
		}
		&:after {
			left: 34px;
		}
		&:before {
			left: 34px;
		}
	}
}

.save-location{
	padding: 15px 0;
	display: block;
	border: 0;
	background: #b3b3b3;
	color: #fff;
	width: 100%;
	outline: none;
	cursor: pointer;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	@include transition(0.2s);
	&:hover{
		background: $orange;
	}
}

.header-profile.active .popup, .location.active .popup{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);
}

.content {
	margin-top: 40px;
}

.aggregator {
	margin-bottom: 30px;
	.collection {
		width: 100%;
		height: 150px;
		display: block;
		border-radius: 10px;
		box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
		position: relative;
		overflow: hidden;
		img{
			position: relative;
			height: 100%;
			width:auto;
			float: right;
		}
		span{
			position: absolute;
			bottom: 30px;
			left: 30px;
			right: 30px;
			padding-right: 40%;
			color: #fff;
			font-size: 20px;
		}
	}
}

.content-left {
	margin-right: 355px;
	float: none;
}

.content2-left {
	width: 325px;
	float: left;
}

.content2-right {
	margin-left: 355px;
	float: none;
}

.content-right {
	width: 325px;
	float: right;
}

.search-form-input:focus ~ span > .search-form-submit {
	background: #ff6701;
}

.location-link-resp {
	position: absolute;
	background: url(../img/sprite.svg) no-repeat -136px -165px;
	width: 30px;
	height: 30px;
	display: none;
	bottom: 11px;
	right: 115px;
	cursor: pointer;
}

.search-form {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	.search-form-input{
		width: 100%;
		border: solid 1px #d8d8d8;
		z-index: 1;
		background: #fff;
		@include transition(0.2s);
		outline: none;
		border-radius: 5px;
		height: 50px;
		padding-right: 20px;
		padding-left: 270px;
		&:focus{
			box-shadow: 0 3px 10px 0 rgba(199, 199, 199, 0.5);
		}
		&::placeholder{
			color:#9c9c9c;
		}
	}
	.search-form-check-wrapper{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		height: 50px;
		border-right:1px solid #d8d8d8;
		.search-form-opt{
			float: left;
			margin-right: 30px;
			margin-left: 30px;
			margin-top: 17px;
			.search-form-opt-wont, .search-form-opt-have{
				position: absolute;
				z-index: 10;
				top: 2px;
			}
			.search-form-opt-wont{
				left: 21px;
				color: #fff;
				@include transition(0.2s);
				@extend .noselect;
			}
			.search-form-opt-have{
				right: 18px;
				color: #9c9c9c;
				@include transition(0.2s);
				@extend .noselect;
			}
			.search-form-opt-title{
				display: block;
				float: left;
				margin-right:10px;
				margin-left: 30px;
				@extend .noselect;
			}
			.checkbox:checked + label .search-form-opt-wont{
				color: #9c9c9c;
			}
			.checkbox:checked + label .search-form-opt-have{
				color: #fff;
			}
			.checkbox:not(checked) + label {
				padding: 0 0 0 190px;
			}
			.checkbox:checked + label:after {
				left: 75px;
				width: 112px;
			}
			.checkbox:not(checked) + label:before {
				width: 190px;
			}
			.checkbox:not(checked) + label:after {
				width: 73px;
				border-radius: 50px;
				background: #ff6701;
			}
		}
	}
	.search-form-submit{
		position: absolute;
		z-index: 2;
		border-radius: 0 5px 5px 0;
		background: #b3b3b3;
		color: #fff;
		bottom: 0;
		right: 0;
		height: 50px;
		padding: 0 20px 0 43px;
		@include transition(0.2s);
		cursor: pointer;
		border: 0;
		&:hover{
			background:#ff6701;
		}
		&:after{
			content:'';
			display: block;
			position: absolute;
			left: 20px;
			background: url('../img/sprite.svg') no-repeat -107px -11px;
			width: 17px;
			height: 17px;
			background-size: $bgsize;
			top: 50%;
			margin-top: -7px;
		}
	}
}

.search-form-results {
	position: absolute;
	background: #fff;
	top: 50px;
	left: 251px;
	right: 106px;
	margin: 0;
	padding: 20px 0;
	list-style: none;
	z-index: 5;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 3px 10px 0 rgba(199, 199, 199, 0.5);
	li{
		padding: 10px 30px;
		cursor: pointer;
		&:hover{
			background: #f3f3f3;
		}
	}
}

.card-list-title{
	margin: 0 0 30px 0;
	font-size: 22px;
}

.grid-sizer{
	width: 23.5%;
}
.gutter-sizer{
	width: 2%;
}

.card-list{
	display: none;
	.card-wrapper{
		width: 23.5%;
		position: relative;
		margin-bottom: 20px;
		border-radius: 10px;
		.card{
			padding-bottom: 15px;
			width: 100%;
			@include transition(0.2s);
			background:#fff;
			position: relative;
			border-radius: 10px;
			box-shadow: 0 1px 2px rgba(25,25,25,0.2);
			&:hover{
				box-shadow: 0 3px 10px 0 rgba(199, 199, 199, 0.5);
				.favorite {
					opacity: 1;
					visibility: visible;
				}
			}
			.favorite {
				position: absolute;
				@include transition(0.2s);
				opacity: 0;
				visibility: hidden;
				top:10px;
				right: 10px;
				width: 34px;
				height: 34px;
				background: rgba(255, 255, 255, 0.84);
				border:0;
				margin-top:0;
			}
			.favorite.active{
				opacity: 1;
				visibility: visible;
				background: #fff;
			}
			.card-img{
				display: block;
				overflow: hidden;
				position: relative;
				text-align: center;
				padding-bottom: 66%;
				&:hover ~ .card-title{
					color: $orange;
				}
				&:after{
					content: '';
					@include transition(0.2s);
				}
				img{
					border-radius: 10px 10px 0 0;
					width: 100%;
					height: auto;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
			.card-title{
				font-weight: bold;
				line-height: 1.3;
				font-size: 15px;
				padding: 15px 20px 15px 20px;
				display: block;
			}
			.card-separator {
				text-align: center;
				position: relative;
				&:after{
					content:'';
					display: block;
					position: absolute;
					height: 1px;
					width: 100%;
					top: 50%;
					z-index: 1;
					left: 0;
					background: #efefef;
				}
				span{
					font-size: 10px;
					letter-spacing: 1px;
					font-weight: bold;
					z-index: 2;
					position: relative;
					background: #fff;
					padding: 0 8px;
					display: inline-block;
					color: #9c9c9c;
					text-transform: uppercase;
					text-align: center;
				}
			}
		}
	}
}

.my-card-list {
	.card-wrapper {
		&:hover {
			.card{
				.card-onoff, .card-edit, .card-del {
					opacity:1;
					visibility: visible;
				}
			}
		}
	}
}

.my-card-list.my-card-list-off {
	.card-img{
		&:after{
			content: '';
			display: block;
			position: absolute;
			top:0;
			bottom: 0;
			left:0;
			right: 0;
			background: rgba(255, 255, 255, 0.59);
			border-radius: 10px 10px 0 0;
		}
	}
	.card-title, .card-separator, .card-tags{
		opacity: 0.7;
	}
}

.card-onoff, .card-edit, .card-del {
	display: block;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left:20px;
	span{
		position: relative;
		display: inline-block;
		background: $orange;
		font-size:13px;
		padding: 10px 20px 10px 37px;
		&:after{
			content: '';
			display: block;
			top: 50%;
			margin-top:-8px;
			left:15px;
			position: absolute;
			background-size: $bgsize;
		}
	}
}

.card-off {
	top: 70px;
	span:after{
		background: url('../img/sprite.svg') no-repeat -7px -211px;
		width: 17px;
		height: 16px;
	}
}

.card-on {
	top: 70px;
	span:after{
		background: url('../img/sprite.svg') no-repeat -42px -210px;
		width: 17px;
		height: 17px;
	}
}

.card-edit {
	top: 25px;
	span:after {
		background: url('../img/sprite.svg') no-repeat -111px -210px;
		width: 16px;
		height: 16px;
	}
}

.card-del {
	top: 115px;
	span:after {
		background: url('../img/sprite.svg') no-repeat -76px -210px;
		width: 16px;
		height: 17px;
	}
}

.card-tags{
	padding: 15px 10px 0 20px;
}

.tags{
	overflow: hidden;
	.tag{
		float: left;
		margin-bottom: 10px;
		font-size: 13px;
		margin-right: 10px;
		padding: 0 10px;
		line-height: 24px;
	}
}

.load-more {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	a{
		display: inline-block;
		padding: 20px 70px 20px 95px;
		border-radius: 5px;
		text-decoration: none;
		font-weight: 600;
		color: #fff;
		background-color: #b3b3b3;
		@include transition(0.2s);
		position: relative;
		&:hover{
			background-color:#ff6701;
		}
		&:after{
			content:'';
			display: block;
			position: absolute;
			top: 50%;
			left: 72px;
			margin-top:-8px;
			background: url('../img/sprite.svg') no-repeat -191px -11px;
			width: 16px;
			height: 16px;
			background-size: $bgsize;
		}
	}
}

.widget {
	padding-top: 30px;
	overflow: hidden;
	padding-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
	background: #fff;
}

.widget.widget-menu {
	padding: 0;
}

.widget.widget-profile{
	text-align: center;
	margin-bottom:30px;
	.avatar{
		width: 100px;
		height: 100px;
		display: block;
		margin: 10px auto 15px auto;
		overflow: hidden;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		img{
			min-width: 100%;
			height:100%;
		}
	}
	.author-name{
		font-weight: bold;
		display: block;
		margin-top: 0;
		text-align: center;
		padding:0 25px;
		font-size:15px;
	}
	.age{
		font-size: 13px;
		color: #9c9c9c;
		margin-top: 10px;
		display: block;
		margin-bottom: 10px;
	}
	.settings-button {
		margin: 20px 0 10px 0;
	}
}

.settings-button {
	padding-left: 36px;
	position: relative;
	&:after{
		content: '';
		display: block;
		position: absolute;
		top:50%;
		left:15px;
		margin-top: -9px;
		background: url('../img/sprite.svg') no-repeat -179px -47px;
		width: 16px;
		height: 17px;
		opacity: 1;
		@include transition(0.2s);
		background-size: $bgsize;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		top:50%;
		left:15px;
		margin-top: -9px;
		background: url('../img/sprite.svg') no-repeat -210px -47px;
		width: 16px;
		height: 17px;
		opacity: 0;
		@include transition(0.2s);
		background-size: $bgsize;
	}
	&:hover:after{
		opacity: 0;
	}
	&:hover:before{
		opacity: 1;
	}
}

.widget p{
	margin: 0;
}

.menu-title {
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	letter-spacing: 1.3px;
	margin-left: 25px;
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 25px;
}

.menu .nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu .nav li {
	list-style: none;
	padding: 0;
	cursor: pointer;
	&:last-child{
		.submenu {
			border-bottom: 0;
		}
		p{
			border-bottom:0;
		}
	}
}

.menu .nav .active p, .menu .nav .active:hover p {
	position: relative;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.menu .nav .active p:after, .menu .nav .active:hover p:after{
	transform: rotate(180deg);
}

.menu .nav li p:after {
	display: block;
	content: '';
	background: url('../img/sprite.svg') no-repeat -89px -17px;
	width: 11px;
	height: 6px;
	background-size: $bgsize;
	position: absolute;
	right: 25px;
	top: 50%;
	margin-top: -3px;
	transition: transform 0.2s;
}

.menu .nav li p {
	padding: 15px 25px;
	border-bottom: 1px solid #efefef;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	background: #fff;
}

.menu .nav li p span{
	float: right;
	margin-right: 25px;
	color: #b9b9b9;
	font-size:12px;
}

.menu .nav li ul li{
	padding: 0;
	&:first-child a{
		padding-top: 20px;
	}
	&:last-child a{
		padding-bottom: 20px;
	}
}

.submenu {
	display: none;
}

.submenu {
	border-bottom: 1px solid #efefef;
	padding: 0;
}

.subcats-count{
	float: right;
	color: #bfc2cd;
	font-size: 12px;
	margin: 3px 0 0 10px;
}

.menu .nav li .submenu li a{
	display: block;
	position: relative;
	padding: 10px 25px 10px 40px;
}

.menu .nav li .submenu li .active {
	position: relative;
	background: #f3f3f3;
	&:before{
		content:'';
		position: absolute;
		display: block;
		width: 3px;
		height: 100%;
		left: 0;
		top: 0;
		background: #ff6701;
	}
}



.menu .nav li .submenu li:hover{
	margin-top: 0;
	padding-top: 0;
}

.menu .nav li .submenu li a:hover{
}

.menu .nav li .submenu .active2 a{
	background: #76a7e1;
	color: #fff;
}

.menu .nav li .submenu li:last-child a:hover, .menu .nav li .submenu li:last-child a{

}

.menu .nav li .submenu li .active2{
	color: #fff;
}

.topbarter {
	margin-top: 30px;
	.tags{
		padding-top: 0;
		position: relative;
		.tag:hover span{
			border-left: 1px solid #ff934b;
			color: #ffcaa8;
		}
		span{
			padding-left: 6px;
			margin-left: 6px;
			font-size: 12px;
			@include transition(0.2s);
			border-left: 1px solid #e2e2e2;
			display: block;
			float: right;
			color: #b9b9b9;
			line-height: 25px;
		}
	}
}

.right-show {
	margin-top: 30px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	img{
		width: 100%;
		height:auto;
	}
}

.author-widget{
	text-align: center;
	overflow: hidden;
	.menu-title{
		text-align: center;
		margin-left: 0;
	}
	.avatar{
		width: 80px;
		height: 80px;
		display: block;
		margin: 35px auto 0 auto;
		overflow: hidden;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		img{
			min-width: 100%;
			height:100%;
		}
		&:hover ~ .author-name {
			color: $orange;
		}
	}
	.author-name{
		font-weight: bold;
		display: block;
		margin-top:15px;
		text-align: center;
		padding:0 25px;
		font-size:15px;
	}
	.age{
		font-size: 13px;
		color: #9c9c9c;
		margin-top: 10px;
		display: block;
	}
	.author-offers {
		padding: 0 25px;
		margin-top:15px;
		margin-bottom: 25px;
		overflow: hidden;
		.author-offers-item{
			img{
				width: 100%;
				display: block;
			}
			width: 130px;
			display: block;
			float: left;
			margin-right: 15px;
			margin-top:20px;
			&:nth-child(2n){
				margin-right: 0;
			}
			.author-offers-item-title{
				margin-top: 8px;
				display: block;
				text-align: left;
			}
		}
		.author-offers-item > a:hover ~ a {
			color: $orange;
		}
	}
	.graybutton {
		margin: 10px 0;
	}
}

.breadcrumbs {
	overflow: hidden;
	.breadcrumbs_list {
		margin:0;
		padding:0;
		li{
			float: left;
			margin-right: 5px;
			list-style: none;
			padding-left: 5px;
			padding-right: 15px;
			position: relative;
			&:last-child{
				&:after{
					content: '';
				}
			}
			&:after{
				content: '/';
				position: absolute;
				right: 0;
				top:3px;
				color: #d8d8d8;
				font-size: 10px;
			}
			a{
				font-size: 12px;
			}
		}
		.breadcrumbs_home{
			position: relative;
			padding-left: 18px;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -6px;
				background: url('../img/sprite.svg') no-repeat -141px -84px;
				width: 12px;
				height: 12px;
				background-size: $bgsize;
			}
		}
	}
}

::-webkit-input-placeholder {color:#3e445e;}
::-moz-placeholder {color:#3e445e;}
:-moz-placeholder {color:#3e445e;}
:-ms-input-placeholder {color:#3e445e;}

.main-content {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
	background: #fff;
	margin-top:20px;
	padding:25px 25px 35px 25px;
}

.page-content {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
	background: #fff;
	margin-top:20px;
	padding:35px 40px 70px 40px;
}

.chat-content {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
	background: #fff;
}

.chats{
	width: 360px;
	height: 100%;
	overflow-y: scroll;
	float: left;
	.chats-item{
		border-bottom:1px solid #efefef;
		padding: 20px;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		@extend .noselect;
		&.active{
			background: #f3f3f3;
			.chat-item-text{
				.chats-item-date{
					border:1px solid #d8d8d8;
				}
			}
			&:after{
				content: '';
				position: absolute;
				display: block;
				height: 100%;
				width: 4px;
				left:0;
				top:0;
				background: $blue;
			}
		}
		.chats-item-thumb{
			width: 70px;
			height: 70px;
			float: left;
			position: relative;
			overflow: hidden;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background: #eee;
			img{
				position: relative;
				height: 100%;
				left:-25%;
			}
		}
		.chat-item-text {
			padding-left: 85px;
			.chats-item-title{
				display: block;
				font-weight:bold;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				margin-bottom:7px;
			}
			.chats-item-profile{
				display: block;
				white-space: nowrap;
				font-size:13px;
				text-overflow: ellipsis;
				overflow: hidden;
				margin-bottom:10px;
			}
			.chats-item-date {
				font-size:12px;
				display: block;
				padding: 5px 10px;
				border:1px solid #fff;
				background: #f3f3f3;
				color: #9c9c9c;
				float: left;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
			}
			.new-messages-count {
				width: 23px;
				height: 23px;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				background: $orange;
				text-align: center;
				line-height: 23px;
				color: #fff;
				position: absolute;
				right: 20px;
				bottom: 21px;
				font-size:12px;
			}
			.chat-item-blocked {
				position: absolute;
				right: 20px;
				bottom: 24px;
				background: url('../img/sprite.svg') no-repeat -217px -119px;
				width: 17px;
				height: 17px;
			}
		}
	}
}

.chat-frame-wrapper {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

.chat-frame-main + .chat-frame-start-wrapper {
	display: none;
}

.chat-frame-start{
	width: 100%;
	height: 100%;
	background: #fff;
	position: relative;
	.chat-frame-start-title{
		position: absolute;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -70%);
		span{
			display: block;
			margin-top:20px;
			font-size: 16px;
		}
	}
}
.chat-message-typing{
	position: absolute;
	bottom: 10px;
	left: 0;
	font-size: 13px;
	width: 100%;
	color: #9c9c9c;
	text-align: center;
}

#circleG{
	display: inline-block;
	margin-right: 7px;
	margin-left: -37px;
	height: 7px;
}

.circleG{
	float:left;
	height:6px;
	margin-left:4px;
	width:6px;
	animation-name:bounce_circleG;
	-o-animation-name:bounce_circleG;
	-ms-animation-name:bounce_circleG;
	-webkit-animation-name:bounce_circleG;
	-moz-animation-name:bounce_circleG;
	animation-duration:1.24s;
	-o-animation-duration:1.24s;
	-ms-animation-duration:1.24s;
	-webkit-animation-duration:1.24s;
	-moz-animation-duration:1.24s;
	animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	animation-direction:normal;
	-o-animation-direction:normal;
	-ms-animation-direction:normal;
	-webkit-animation-direction:normal;
	-moz-animation-direction:normal;
	border-radius:8px;
	-o-border-radius:8px;
	-ms-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}

#circleG_1{
	animation-delay:0.45s;
	-o-animation-delay:0.45s;
	-ms-animation-delay:0.45s;
	-webkit-animation-delay:0.45s;
	-moz-animation-delay:0.45s;
}

#circleG_2{
	animation-delay:1.05s;
	-o-animation-delay:1.05s;
	-ms-animation-delay:1.05s;
	-webkit-animation-delay:1.05s;
	-moz-animation-delay:1.05s;
}

#circleG_3{
	animation-delay:1.35s;
	-o-animation-delay:1.35s;
	-ms-animation-delay:1.35s;
	-webkit-animation-delay:1.35s;
	-moz-animation-delay:1.35s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(156,156,156);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(156,156,156);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(156,156,156);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(156,156,156);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(156,156,156);
	}

	100%{}
}

.chat-frame{
	width: auto;
	float: none;
	height: 100%;
	margin-left:360px;
	border-left:1px solid #efefef;
	background: url(../img/pattern.png) #f7f4f3;
	.chat-frame-head{
		padding: 20px;
		position: relative;
		z-index: 2;
		background: #fff;
		box-shadow: 0 1px 2px rgba(25,25,25,0.2);
		.fh-left{
			overflow: hidden;
			height: 32px;
			float: left;
			width: 46%;
			margin-right: 4%;
			.chat-profile{
				line-height:32px;
				.chat-profile-avatar{
					width: 32px;
					height: 32px;
					overflow: hidden;
					display: block;
					margin-right: 10px;
					img{
						width: 100%;
						height: 100%;
						border-radius: 50%;
					}
					float: left;
				}
				.chat-profile-name{
					display: block;
					margin-left:10px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
		}
		.fh-right{
			width: 50%;
			float: right;
			height: 32px;
			.chat-frame-head-thumb{
				width: 32px;
				height: 32px;
				display: block;
				overflow: hidden;
				border-radius: 5px;
				float: right;
				margin-left: 10px;
				position: relative;
				img{
					position: absolute;
					width: auto;
					min-width: 100%;
					min-height: 100%;
					height: 100%;
					left:-25%;
					top:0;
				}
			}
			.chat-frame-head-title{
				font-weight:bold;
				line-height: 32px;
				text-align: right;
				display: block;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
			.chat-menu-link{
				position: relative;
				width: 30px;
				margin-right: -15px;
				margin-left: 15px;
				height: 32px;
				float: right;
				cursor: pointer;
				&:after{
					content: '';
					position: absolute;
					display: block;
					background: url('../img/sprite.svg') no-repeat -49px -149px;
					width: 3px;
					height: 15px;
					margin-left: -1px;
					margin-top:-7px;
					top: 50%;
					right: 50%;
				}
			}
			.chat-menu{
				top: 62px;
				right:0;
				.popup-tail{
					&:before{
						right: 13px;
					}
					&:after{
						right: 13px;
					}
				}
				ul{
					padding: 0;
					margin: 0;
					list-style: none;
					li{
						a{
							padding: 10px 20px;
							width: 100%;
							line-height:1;
							display: block;
							&:hover{
								background: #f3f3f3;
							}
						}
					}
				}
			}
		}
	}

}

.chat-frame-dialog {
	display: table-row;
	height: 100%;
	.chat-frame-dialog-wrapper{
		height: 100%;
		width: 100%;
		position: relative;
		.chat-frame-not-delivered-message{
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			background: #3a3a3a;
			z-index: 1;
			padding: 12px 20px 12px 52px;
			color: #fff;
			box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
			&:after{
				content: '';
				position: absolute;
				top: 7px;
				left: 20px;
				background: url('../img/sprite.svg') no-repeat -255px -149px #fff;
				width: 25px;
				height: 25px;
				border-radius: 50%;
			}
		}
		.chat-frame-blocked-message{
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			background: #3a3a3a;
			z-index: 1;
			padding: 12px 20px 12px 52px;
			color: #fff;
			box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
			&:after{
				content: '';
				position: absolute;
				top: 7px;
				left: 20px;
				background: url(../img/sprite.svg) no-repeat -212px -116px #fff;
				width: 25px;
				border-radius: 50%;
				height: 25px;
			}
		}
		.chat-frame-dialog-scroll{
			position: absolute;
			overflow-x: hidden;
			top: 0;
			right: 0;
			bottom: 0;
			overflow-y: scroll;
			left: 0;
			.system-message{
				text-align: center;
				font-size: 13px;
				padding: 10px 0;
				.system-message-wrapper {
					display: inline-block;
					padding: 5px 20px;
					background: #a0a0a0;
					color: #fff;
					border-radius: 5px;
				}
			}
		}
		ul{
			margin: 0;
			padding: 20px;
			width: 100%;
			list-style: none;
			position: relative;
			li{
				width: 100%;
				margin-bottom: 15px;
				.chat-message{
					padding: 10px;
					position: relative;
					max-width: 470px;
					line-height: 20px;
					box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
				}
				.chat-message-left{
					float: left;
					background: #fff;
					border-radius: 0 5px 5px 5px;
					.chat-message-text{
						&:after{
							content: '';
							display: inline;
							margin-right:60px;
						}
					}
					&:before{
						content: "";
						border-style: solid;
						box-shadow: 0 -1px 0 0 transparent;
						height: 0;
						position: absolute;
						top: 1px;
						width: 0;
						border-width: 0 15px 11px 0;
						border-color: transparent #dedede transparent transparent;
						left: -15px;
					}
					&:after{
						content: "";
						border-style: solid;
						box-shadow: 0 -1px 0 0 transparent;
						height: 0;
						position: absolute;
						top: 0;
						width: 0;
						border-width: 0 15px 11px 0;
						border-color: transparent #fff transparent transparent;
						left: -15px;
					}
				}
				.chat-message-right{
					float: right;
					background: #dcf5bf;
					border-radius: 5px 0 5px 5px;
					.chat-message-text{
						&:after{
							content: '';
							display: inline;
							margin-right:90px;
						}
					}
					&:before{
						content: '';
						position: absolute;
						border-style: solid;
						box-shadow: 0 -1px 0 0 transparent;
						height: 0;
						top: 1px;
						width: 0;
						border-width: 0 0 11px 15px;
						border-color: transparent transparent transparent #dedede;
						right: -15px;
					}
					&:after{
						content: '';
						position: absolute;
						border-style: solid;
						box-shadow: 0 -1px 0 0 transparent;
						height: 0;
						top: 0;
						width: 0;
						border-width: 0 0 11px 15px;
						border-color: transparent transparent transparent #dcf5bf;
						right: -15px;
					}
				}
				.chat-message-meta {
					position: absolute;
					right:10px;
					bottom: 5px;
					.chat-message-time{
						font-size:11px;
						color: #9c9c9c;
						display: block;
						float: left;
						line-height: 14px;
					}
					.chat-message-status{
						float: left;
						margin-left: 10px;
						&.message-delivered{
							background: url('../img/sprite.svg') no-repeat -258px -176px;
							width: 22px;
							height: 12px;
						}
						&.message-read{
							background: url('../img/sprite.svg') no-repeat -257px -134px;
							width: 22px;
							height: 12px;
						}
						&.message-not-delivered{
							background: url('../img/sprite.svg') no-repeat -259px -153px;
							width: 16px;
							height: 15px;
						}
					}
				}
			}
		}
	}
}

.blocked-item{
	border-bottom: 1px solid #efefef;
	padding: 20px;
	overflow: hidden;
	position: relative;
	.blocked-item-thumb {
		width: 60px;
		height: 60px;
		float: left;
		display: block;
		position: relative;
		overflow: hidden;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background: #eee;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.blocked-item-text {
		padding-left: 75px;
		.blocked-item-profile{
			display: block;
			font-weight: bold;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			margin-bottom: 12px
		}
		.blocked-item-unblock {
			font-size: 13px;
			display: block;
			padding: 7px 15px;
			border: 1px solid $orange;
			color: $orange;
			cursor: pointer;
			float: left;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			@include transition(0.2s);
			&:hover{
				background: $orange;
				color: #fff;
			}
		}
	}
}

.chat-message-input{
	width: 100%;
	display:table-row;
	background: #fff;
	.chat-message-input-wrapper{
		width: 100%;
		padding: 10px 80px 10px 20px;
		position: relative;
		border-top: 1px solid #efefef;
		.chat-send-message {
			position: absolute;
			right: 10px;
			bottom: 10px;
			display: block;
			width: 60px;
			height: 52px;
			border:0;
			background: transparent;
			cursor: pointer;
			outline: none;
			&:before {
				content: '';
				position: absolute;
				display: block;
				background: url('../img/sprite.svg') no-repeat -206px -147px;
				width: 27px;
				height: 18px;
				top:50%;
				left: 50%;
				margin-left: -13px;
				margin-top: -9px;
				opacity:0;
				@include transition(0.2s);
			}
			&:after {
				content: '';
				position: absolute;
				display: block;
				background: url('../img/sprite.svg') no-repeat -206px -172px;
				width: 27px;
				height: 18px;
				top:50%;
				left: 50%;
				margin-left: -13px;
				margin-top: -9px;
				opacity:1;
				@include transition(0.2s);
			}
			&:hover:before{
				opacity: 1;
			}
			&:hover:after{
				opacity: 0;
			}
		}
		.attach-image{
			display: inline-block;
			position: relative;
			overflow: hidden;
			float: left;
			.attach-image-button{
				display: block;
				cursor: pointer;
				height: 52px;
				width: 36px;
				position: relative;
				z-index: 2;
				&:before{
					content: '';
					position: absolute;
					background: url('../img/sprite.svg') no-repeat -69px -176px;
					width: 21px;
					height: 20px;
					top:50%;
					left:50%;
					margin-top:-10px;
					margin-left:-10px;
					opacity: 1;
					@include transition(0.2s);
				}
				&:after{
					content: '';
					position: absolute;
					background: url('../img/sprite.svg') no-repeat -41px -176px;
					width: 21px;
					height: 20px;
					top:50%;
					left:50%;
					margin-top:-10px;
					margin-left:-10px;
					opacity:0;
					@include transition(0.2s);
				}
				&:hover:before{
					opacity:0;
				}
				&:hover:after{
					opacity:1;
				}
			}
		}
		.attach-image input[type=file] {
			position: absolute;
			top: 0;
			opacity: 0;
			z-index: 0;
		}
		.attach-deal {
			position: relative;
			width: 36px;
			height: 52px;
			float: left;
			cursor: pointer;
			&:after{
				content: '';
				position: absolute;
				background: url('../img/sprite.svg') no-repeat -9px -146px;
				width: 21px;
				height: 21px;
				top: 50%;
				left: 50%;
				margin-top:-10px;
				margin-left: -10px;
				@include transition(0.2s);
				opacity:1;
				background-size: $bgsize;
			}
			&:before{
				content: '';
				position: absolute;
				background: url('../img/sprite.svg') no-repeat -9px -175px;
				width: 21px;
				height: 21px;
				top: 50%;
				left: 50%;
				margin-top:-10px;
				margin-left: -10px;
				@include transition(0.2s);
				opacity:0;
				background-size: $bgsize;
			}
			&:hover:after{
				opacity:0;
			}
			&:hover:before{
				opacity:1;
			}
		}
		.chat-message-input-options{
			position: absolute;
			right: 90px;
			bottom: 10px;
		}
		.chat-message-input-text{
			border: 1px	solid #d8d8d8;
			display: block;
			resize: none;
			width: 100%;
			line-height: 20px;
			border-radius: 5px;
			outline: none;
			padding: 15px 90px 15px 15px;
			max-height: 116px;
			min-height: 49px;
			height: 49px;
			overflow-x: hidden;
		}
	}
	.chat-message-attached{
		margin: 0 80px 10px 20px;
		overflow: hidden;
		background: #f3f3f3;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		.chat-message-attached-deal{
			position: relative;
			width: 100%;
			height: 100%;
			padding: 10px 40px 10px 10px;
		}
		.chat-message-attached-photos{
			padding: 10px;
			overflow: hidden;
			.attached-photo{
				width: 80px;
				height: 80px;
				position: relative;
				margin-right:5px;
				float: left;
				overflow: hidden;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				img{
					height: 100%;
				}
			}
		}
	}
}

.attached-del{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	&:after{
		content: '';
		position: absolute;
		background: url('../img/sprite.svg') no-repeat -194px -80px;
		width: 20px;
		height: 20px;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		margin-left: -10px;
		@include transition(0.2s);
		opacity:1;
	}
	&:before{
		content: '';
		position: absolute;
		background: url('../img/sprite.svg') no-repeat -223px -80px;
		width: 20px;
		height: 20px;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		margin-left: -10px;
		@include transition(0.2s);
		opacity:0;
	}
	&:hover:after{
		opacity: 0;
	}
	&:hover:before{
		opacity: 1;
	}
}

.attached-del-photo{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	@include transition(0.2s);
	&:hover{
		background: #f3f3f3;
		&:after{
			opacity: 0;
		}
		&:before{
			opacity: 1;
		}
	}
	&:after{
		content: '';
		position: absolute;
		background: url('../img/sprite.svg') no-repeat -173px -87px;
		width: 6px;
		height: 6px;
		top: 50%;
		left: 50%;
		margin-top: -3px;
		margin-left: -3px;
		opacity: 1;
		@include transition(0.2s);
	}
	&:before{
		content: '';
		position: absolute;
		background: url('../img/sprite.svg') no-repeat -256px -88px;
		width: 6px;
		height: 6px;
		top: 50%;
		left: 50%;
		margin-top: -3px;
		margin-left: -3px;
		opacity: 0;
		@include transition(0.2s);
	}
}

.chat-message-left{
	.chat-frame-attach-deal, .chat-frame-attach-photos{
		background: #f3f3f3;
	}
}

.chat-message-right{
	.chat-frame-attach-deal, .chat-frame-attach-photos{
		background: #f9fff2;
	}
}

.chat-frame-attach-deal {
	padding: 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	&:after{
		content: '';
		position: absolute;

	}
	.attach-deal-item-thumb{
		width: 80px;
		height: 80px;
	}
	.attach-deal-item-text{
		padding-left: 90px;
	}
}

.chat-frame-attach-photos{
	padding: 10px 5px 5px 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	.frame-attach-photo-thumb{
		height: 120px;
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
		overflow: hidden;
		display: block;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		img{
			height: 100%;
		}
	}
}

.popup-auth.popup-attach-deal {
	.popup-auth-wrapper{
		padding: 20px 0;
		max-width: 650px;
		.not-deal{
			margin: 170px 0 0 0;
			text-align: center;
		}
	}
}

.attach-deal-list {
	padding: 0 30px;
	margin: 0;
	height: 448px;
	overflow-y: auto;
	list-style: none;
	.attach-deal-list-item{
		position: relative;
		padding: 20px 0;
		cursor: pointer;
		border-bottom: 1px solid #efefef;
		&:hover{
			padding: 20px 30px;
			margin-left: -30px;
			margin-right: -30px;
			margin-top: -1px;
			background: #f3f3f3;
			border-top: 1px solid #efefef;
			.popup-attach-link{
				display: block;
			}
		}
		.popup-attach-link{
			position: absolute;
			right: 30px;
			display: none;
			top: 20px;
			cursor: pointer;
			color: #9c9c9c;
		}
	}
}

.attach-deal-item-thumb{
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	img{
		height: 100%;
	}
}
.attach-deal-item-text{
	padding-left: 50px;
	max-width: 470px;
	.attach-deal-item-title{
		font-weight:bold;
		display: block;
		line-height: 17px;
		margin-bottom:8px;
	}
	.attach-deal-item-date{
		font-size: 12px;
		display: block;
		line-height: 15px;
		color: #9c9c9c;
	}
}

.page-title {
	margin: 0 0 35px 0;
	font-size:24px;
}

.settings-left {
	width:380px;
	float: left;
	padding: 30px 0;
	text-align: center;
}

.upload-avatar {
	display: inline-block;
	position: relative;
	overflow: hidden;
	.upload-avatar-button{
		display: block;
		cursor: pointer;
		padding:10px 20px 10px 45px;
		height: 100%;
		position: relative;
		z-index: 2;
		&:before{
			content: '';
			display: block;
			position: absolute;
			opacity: 0;
			top:50%;
			left:20px;
			margin-top: -8px;
			background: url('../img/sprite.svg') no-repeat -71px -149px;
			width: 17px;
			height: 15px;
			background-size: $bgsize;
			@include transition(0.2s);
		}
		&:hover:before{
			opacity: 1;
		}
		&:hover:after{
			opacity: 0;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			top:50%;
			left:20px;
			margin-top: -8px;
			background: url('../img/sprite.svg') no-repeat -70px -83px;
			width: 17px;
			height: 15px;
			opacity: 1;
			background-size: $bgsize;
			@include transition(0.2s);
		}
	}
	input[type=file]{
		position: absolute;
		top: 0;
		opacity: 0;
		z-index: 0;
	}
}

.upload-avatar-desc {
	font-size:13px;
	color: #b5bcd2;
	margin-top: 20px;
	span{
		display: block;
		margin-bottom: 8px;
	}
}

.display-avatar {
	width: 150px;
	height: 150px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto 20px auto;
	img{
		width: 100%;
		height: 100%;
	}
}

.profile-menu{
	ul{
		margin:0;
		padding: 0;
		li{
			a{
				padding: 15px 25px;
				display: block;
				position: relative;
			}
			border-bottom: 1px solid #efefef;
			&:last-child{
				border-bottom: 0;
			}
		}
		.active{
			a{
				background: #f3f3f3;
				&:before{
					content: '';
					position: absolute;
					display: block;
					width: 3px;
					height: 100%;
					left: 0;
					top: 0;
					background: $blue;
				}
			}
		}
	}
}

.settings-right {
	width: auto;
	margin-left: 380px;
	float: none;
	border-left:1px solid #edeef3;
	padding: 0;
	.form-item-checkbox{
		margin-bottom: 50px;
	}
	.orangebutton {
		padding: 15px 27px;
	}
}

.settings-form{
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}


.checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}

.checkbox + label {
	cursor: pointer;
}

.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}
.checkbox:not(checked) + label {
	position: relative;
	padding: 0 0 0 65px;
}

.checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 52px;
	height: 28px;
	border-radius: 15px;
	background: #f9f9f9;
	border:1px solid #d8d8d8;
}

.checkbox:not(checked) + label:after {
	content: '';
	position: absolute;
	top: -1px;
	left: 4px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #b3b3b3;
	transition: all .2s;
}

.checkbox:checked + label:after {
	background: #ff6701;
}

.checkbox:checked + label:after {
	left: 26px;
}

.radio {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}
.radio + label {
	cursor: pointer;
}
.radio:not(checked) {
	position: absolute;
	opacity: 0;
}
.radio:not(checked) + label {
	position: relative;
	padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #d8d8d8;
	border-radius: 50%;
	background: #FFF;
}
.radio:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #9FD468;
	opacity: 0;
	@include transition(0.2s)
}
.radio:checked + label:after {
	opacity: 1;
}

.notice {
	margin-bottom: 10px;
	display: block;
	line-height: 22px;
}

.content-middle{
	max-width: 920px;
	width: 100%;
	border-radius: 10px;
	background: #fff;
	margin:20px auto 0 auto;
	padding:25px 25px 70px 25px;
	h2{
		font-size:24px;
		margin: 35px 0;
	}
	.orangebutton{
		padding: 15px 27px;
		float: right;
	}
}

.content-settings, .content-static{
	max-width: 920px;
	width: 100%;
	margin: 0 auto;
}

.content-static-text{
	max-width: 600px;
	margin: 0 auto;
}

.content-static-cover{
	height: 315px;
	margin-top: -35px;
	margin-left: -40px;
	margin-right: -40px;
	position: relative;
	margin-bottom: 45px;
	&.about{
		background: url("../uploads/about-cover.jpg")  no-repeat;
		background-size: cover;
	}
}

.optgroup-header{
	font-weight:700;
}

.selectize-input{
	padding: 15px 15px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #d8d8d8;
	font-size: 14px;
	background: #f9f9f9;
	input{
		font-size: 14px;
	}
	&.focus{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border:1px solid #ff6701;
	}
}

.selectize-control.multi .selectize-input > div {
	border: 1px solid #e2e2e2;
	background: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	@include transition(0.2s);
	&.active{
		border: 1px solid #ff6701;
		background: #ff6701;
		color: #fff;
	}
}

.selectize-control.plugin-remove_button [data-value] .remove {
	border-left: 1px solid #e2e2e2;
}

.selectize-control.plugin-remove_button [data-value].active .remove {
	border-left-color: #ff934b;
}

.selectize-control.multi .selectize-input.has-items {
	padding: 11px 15px 10px 15px;
}

.selectize-input.full{
	background: #f9f9f9;
}

.add-deal, .reset-pass {
	max-width: 430px;
	width: 100%;
	margin: 0 auto;
}

.upload-form{
	div{
		&:nth-child(4n){
			margin-right: 0;
		}
	}
}

.image-uploaded{
	width: 101px;
	height: 68px;
	float: left;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin-right: 8px;
	margin-bottom: 15px;
	position: relative;
}

.form-item{
	clear: both;
	margin-bottom: 30px;
	position: relative;
	.requared{
		position: absolute;
		right: 10px;
		top:14px;
		color: #ff6701;
	}
}

.input-text{
	width: 100%;
	height: 50px;
	color: #616161;
	line-height: 50px;
	padding:0 15px;
	background: #f9f9f9;
	border: 1px	solid #d8d8d8;
	outline: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	&:focus{
		border: 1px solid #ff6701;
		background: #fff;
	}
}

.input-textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding:20px 15px;
	background: #f9f9f9;
	border: 1px	solid #d8d8d8;
	outline: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	&:focus{
		border: 1px solid #ff6701;
		background: #fff;
	}
}

.deal-label{
	display: inline-block;
	position: relative;
	padding-right: 10px;
	clear: both;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight:700;
	color: #9c9c9c;
	margin-bottom: 10px;
}

.important{
	color: #ff6701;
	position: absolute;
	top: -3px;
	right: 0;
}

.tip{
	font-size: 12px;
	text-transform: none;
	color: #9c9c9c;
	font-weight:400;
	display: inline-block;
	margin-bottom: 10px;
}

.tip2{
	font-size: 12px;
	text-transform: none;
	color: #9c9c9c;
	font-weight: 400;
	display: block;
	margin-bottom: 9px;
}

.tip3{
	font-size: 12px;
	text-transform: none;
	color: $orange;
	font-weight: 400;
	display: block;
	margin-top: 9px;
	display: none;
	&.active{
		display: block;
	}
}

.upload-form{
	margin-bottom:25px;
	overflow: hidden;
}

.image-upload{
	position: relative;
	float: left;
	width: 101px;
	border:1px	solid #d8d8d8;
	border-radius: 5px;
	text-align: center;
	height: 66px;
	cursor: pointer;
	@include transition(0.2s);
	label{
		display: inline-block;
		position: relative;
		overflow: hidden;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
	&:after{
		content: '';
		position: absolute;
		top: 10px;
		z-index: 1;
		cursor: pointer;
		left: 50%;
		background: url('../img/sprite.svg') no-repeat -7px -83px;
		opacity: 1;
		width: 14px;
		height: 14px;
		margin-left: -7px;
	}
	&:before{
		content: '';
		position: absolute;
		top: 10px;
		z-index: 1;
		cursor: pointer;
		left: 50%;
		background: url('../img/sprite.svg') no-repeat -272px -84px;
		opacity: 0;
		width: 14px;
		height: 14px;
		margin-left: -7px;
	}
	.upload-file{
		position: absolute;
		top:0;
		cursor: default;
		opacity:0;
		z-index: 0;
	}
	span{
		color: #9c9c9c;
		font-size: 12px;
		line-height: 14px;
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 2;
		padding: 30px 7px 0 7px;
		text-align: center;
	}
	&:hover{
		border:1px	solid $orange;
		span{
			color: $orange;
		}
		&:after{
			opacity: 0;
		}
		&:before{
			opacity: 1;
		}
	}
}


.left-main {
	width: 57%;
	float: left;
	.fotorama img {
		width: 100%;
	}
	.fotorama__thumb-border {
		background: rgba(255,255,255,.7);
	}
	.fotorama__nav {
		text-align: left;
	}
}

.watching {
	float: left;
	color: #9c9c9c;
	padding-left: 24px;
	margin-top: 20px;
	margin-right: 30px;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -8px;
		background: url('../img/sprite.svg') no-repeat -106px -48px;
		width: 17px;
		height: 15px;
		background-size: $bgsize;
	}
}

.date {
	float: left;
	color: #9c9c9c;
	padding-left: 23px;
	margin-top: 20px;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		margin-top:-9px;
		background: url('../img/sprite.svg') no-repeat -72px -47px;
		width: 16px;
		height: 17px;
		background-size: $bgsize;
	}
}

.right-main {
	width: 40%;
	float: right;
	h1{
		font-size: 18px;
		line-height: 24px;
		margin: 5px 0 10px 0;
	}
	.desc {
		line-height: 24px;
		font-size: 16px;
	}
	.edit-link-wrapper{
		overflow: hidden;
		margin-bottom: 20px;
		text-align: right;
		.edit-link{
			position: relative;
			padding-left: 23px;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				background: url('../img/sprite.svg') no-repeat -110px -116px;
				width: 16px;
				height: 16px;
			}
		}
	}

	.tags{
		margin-top:25px;
		margin-bottom: 35px;
	}
	.phone-btn{
		text-decoration: none;
		color: $orange;
		margin-top:15px;
		display: block;
		text-align: center;
		width: 100%;
		border: 1px solid $orange;
		border-radius: 5px;
		padding:17px 30px 15px 55px;
		position: relative;
		&:before{
			content: '';
			position: relative;
			display: inline-block;
			margin-bottom: -3px;
			margin-left: -10px;
			margin-right: 7px;
			background: url('../img/sprite.svg') no-repeat -174px -146px;
			width: 17px;
			height: 17px;
			background-size: $bgsize;
		}
		@include transition (0.2s);
		&:hover {
			background: #fff5ef;
		}
	}
	.chat-btn, .auth-chat{
		text-decoration: none;
		color: #fff;
		width: 100%;
		margin-top:15px;
		display: block;
		text-align: center;
		background: $orange;
		border-radius: 5px;
		padding:17px 30px 15px 55px;
		position: relative;
		&:before{
			content: '';
			position: relative;
			margin-bottom: -3px;
			margin-left: -10px;
			display: inline-block;
			margin-right: 7px;
			background: url('../img/sprite.svg') no-repeat -61px -10px;
			width: 17px;
			height: 17px;
			background-size: $bgsize;
		}
		@include transition (0.2s);
		&:hover {
			background: #f36100;
		}
	}
	.share{
		margin-top: 30px;
		margin-bottom:40px;
		float: left;
		.ya-share2__badge {
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		}
		.ya-share2__container_size_m .ya-share2__icon {
			width: 40px;
			height: 40px;
		}
		.ya-share2__item_service_vkontakte .ya-share2__icon{
			background: url("data:image/svg+xml,%3Csvg viewBox='-3 -4 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.785 16.241s.288-.032.436-.194c.136-.148.132-.427.132-.427s-.02-1.304.576-1.496c.588-.19 1.341 1.26 2.14 1.818.605.422 1.064.33 1.064.33l2.137-.03s1.117-.071.587-.964c-.043-.073-.308-.661-1.588-1.87-1.34-1.264-1.16-1.059.453-3.246.983-1.332 1.376-2.145 1.253-2.493-.117-.332-.84-.244-.84-.244l-2.406.015s-.178-.025-.31.056c-.13.079-.212.262-.212.262s-.382 1.03-.89 1.907c-1.07 1.85-1.499 1.948-1.674 1.832-.407-.267-.305-1.075-.305-1.648 0-1.793.267-2.54-.521-2.733-.262-.065-.454-.107-1.123-.114-.858-.009-1.585.003-1.996.208-.274.136-.485.44-.356.457.159.022.519.099.71.363.246.341.237 1.107.237 1.107s.142 2.11-.33 2.371c-.325.18-.77-.187-1.725-1.865-.489-.859-.859-1.81-.859-1.81s-.07-.176-.198-.272c-.154-.115-.37-.151-.37-.151l-2.286.015s-.343.01-.469.161C3.94 7.721 4.043 8 4.043 8s1.79 4.258 3.817 6.403c1.858 1.967 3.968 1.838 3.968 1.838h.957z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
		}
		.ya-share2__item_service_facebook .ya-share2__icon{
			background: url("data:image/svg+xml,%3Csvg viewBox='-4 -4 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.423 20v-7.298h2.464l.369-2.845h-2.832V8.042c0-.824.23-1.385 1.417-1.385h1.515V4.111A20.255 20.255 0 0 0 14.148 4c-2.183 0-3.678 1.326-3.678 3.76v2.097H8v2.845h2.47V20h2.953z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
		}
		.ya-share2__item_service_whatsapp .ya-share2__icon{
			background: url("data:image/svg+xml,%3Csvg viewBox='-3 -3 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 0 1-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 0 1-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553 0 1.434.467 2.762 1.258 3.842l-.825 2.433 2.537-.806a6.6 6.6 0 0 0 3.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 0 1-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 0 1-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 0 0-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
		}
		.ya-share2__item_service_telegram .ya-share2__icon{
			background: url("data:image/svg+xml,%3Csvg viewBox='-3-3 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.92 6.089L4.747 11.555c-.967.388-.962.928-.176 1.168l3.534 1.104 1.353 4.146c.164.454.083.634.56.634.368 0 .53-.168.736-.368.13-.127.903-.88 1.767-1.719l3.677 2.717c.676.373 1.165.18 1.333-.628l2.414-11.374c.247-.99-.378-1.44-1.025-1.146zM8.66 13.573l7.967-5.026c.398-.242.763-.112.463.154l-6.822 6.155-.265 2.833-1.343-4.116z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
		}
		.ya-share2__item_service_odnoklassniki .ya-share2__icon{
			background: url("data:image/svg+xml,%3Csvg viewBox='-3 -3 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M11.674 6.536a1.69 1.69 0 0 0-1.688 1.688c0 .93.757 1.687 1.688 1.687a1.69 1.69 0 0 0 1.688-1.687 1.69 1.69 0 0 0-1.688-1.688zm0 5.763a4.08 4.08 0 0 1-4.076-4.075 4.08 4.08 0 0 1 4.076-4.077 4.08 4.08 0 0 1 4.077 4.077 4.08 4.08 0 0 1-4.077 4.075zM10.025 15.624a7.633 7.633 0 0 1-2.367-.98 1.194 1.194 0 0 1 1.272-2.022 5.175 5.175 0 0 0 5.489 0 1.194 1.194 0 1 1 1.272 2.022 7.647 7.647 0 0 1-2.367.98l2.279 2.28a1.194 1.194 0 0 1-1.69 1.688l-2.238-2.24-2.24 2.24a1.193 1.193 0 1 1-1.689-1.689l2.279-2.279'/%3E%3C/g%3E%3C/svg%3E");
		}
		.ya-share2__container_size_m .ya-share2__item {
			margin: 0 8px 0 0;
		}
	}
}

.deal-separator {
	text-align: center;
	margin-top: 25px;
	position: relative;
	&:after{
		content: '';
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		top: 50%;
		z-index: 1;
		left: 0;
		background: #e2e2e2;
	}
	span{
		font-size: 13px;
		letter-spacing: 1px;
		font-weight: bold;
		z-index: 2;
		position: relative;
		background: #fff;
		padding: 0 8px;
		display: inline-block;
		color: #9c9c9c;
		text-transform: uppercase;
		text-align: center;
	}
}

.single-page{
	.content-left{
		.left-main{

		}
	}
	.content-right {
		position: absolute;
		right: 30px;
		top: 0;
	}
}

.favorite{
	float: right;
	margin-top: 30px;
	width: 40px;
	height: 40px;
	border: 1px solid $orange;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top:50%;
		left:50%;
		margin-top: -9px;
		margin-left: -8px;
		background: url('../img/sprite.svg') no-repeat -6px -47px;
		width: 17px;
		height: 17px;
		background-size: $bgsize;
	}
	&.active{
		&:after{
			background: url('../img/sprite.svg') no-repeat -33px -47px;
		}
	}
}

.footer{
	position: absolute;
	height: 96px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 40px 0 40px 0;
	background: #fff;
	.copyright{
		float: left;
		color: #9c9c9c;
	}
	.footer-menu{
		float: right;
		padding:0;
		margin:0;
		li {
			list-style: none;
			display: inline-block;
			margin-left: 30px;
		}
		a {
		}
	}
}

.popup-auth{
	position: fixed;
	visibility: hidden;
	@include transition(0.4s);
	opacity: 0;
	top:0;
	left:0;
	right: 0;
	overflow-y: scroll;
	background: rgba(45, 45, 45, 0.82);
	bottom: 0;
	z-index: -1;
	.popup-auth-wrapper{
		transform: translate(-50%, -70%);
		@include transition(0.4s);
		position: absolute;
		max-width: 750px;
		height: 500px;
		border-radius: 10px;
		width: 100%;
		left:50%;
		top:50%;
		overflow: hidden;
		background: #fff;
		-webkit-box-shadow: 0 3px 15px 0 rgba(75, 84, 116, 0.13);
		-moz-box-shadow: 0 3px 15px 0 rgba(75, 84, 116, 0.13);
		box-shadow: 0 3px 15px 0 rgba(75, 84, 116, 0.13);
		.auth-left-signup{
			visibility: hidden;
			opacity:0;
			position: absolute;
			top:50px;
			left:30px;
			@include transition(0.2s);
		}
		.auth-left-signin{
			visibility: visible;
			opacity:1;
			position: absolute;
			top:90px;
			left:30px;
			@include transition(0.2s);
		}
		.popup-signin {
			left:0;
		}
		.popup-signup{
			right: -100%;
		}
		&.signup{
			.popup-signin {
				left:-100%;
			}
			.popup-signup{
				right: 0;
			}
			.auth-left-signup{
				visibility: visible;
				opacity:1;
				top:100px;
			}
			.auth-left-signin{
				visibility: hidden;
				opacity:0;
				top:150px;
			}
		}
	}
	.form-item {
		margin-bottom:20px;
	}
	.orangebutton {
		padding: 12px 27px;
		width: 100%;
	}
}

.auth_form_pass {
	position: relative;
	.forgot_link {
		position: absolute;
		right:10px;
		top: 13px;
	}
}

.popup-auth-left {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
	padding: 30px;
	border-radius: 10px 0 0 10px;
	background: url(../img/login_cover.jpg);
	h2{
		display: block;
		margin-top:40px;
		font-size:28px;
		font-weight:300;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	span{
		line-height: 1.6;
	}
}

.popup-auth-right{
	width: 50%;
	height: 100%;
	float: right;
	overflow: hidden;
	position: relative;
	.deal-separator span {
		font-size: 10px;
	}
}

.popup-signin{
	position: absolute;
	@include transition(0.2s);
	width: 100%;
	height: 100%;
	padding: 20px 30px 30px 30px;
}

.popup-signup{
	position: absolute;
	@include transition(0.2s);
	width: 100%;
	height: 100%;
	padding: 20px 30px 30px 30px;
	.popup-auth-title{
		margin: 0 0 34px 0;
	}
}

.auth_reg {
	position: absolute;
	width: 100%;
	padding: 15px 30px;
	background: #eee;
	bottom: 0;
	right: 0;
	text-align: center;
}

.popup-auth.active {
	visibility: visible;
	opacity:1;
	z-index: 9999;
	.popup-auth-wrapper{
		transform: translate(-50%, -50%);
	}
}
.popup_logo {
	width: 50px;
	height: 50px;
	background: url('../img/logo_auth.svg') no-repeat 0 0;
}

.popup-show-phone {
	.popup-auth-wrapper{
		max-width: 450px;
		height: 400px;
		overflow: hidden;
		.author-widget{
			padding-bottom: 30px;
			background: url(../img/pattern.png) #f7f4f3;
		}
		.show-phone{
			text-align: center;
			margin-top: 30px;
			.author-phone-city{
				display: block;
				margin-bottom: 20px;
			}
			.author-phone{
				font-size: 28px;
				font-weight: 600;
			}
			.author-phone-notice{
				display: block;
				margin-top: 20px;
				color: #9c9c9c;
			}
		}
	}
}

.popup-show-chat {
	.popup-auth-wrapper {
		max-width: 450px;
		height: 300px;
		overflow: hidden;
		padding: 30px 20px;
		.avatar{
			width: 45px;
			height: 45px;
			display: block;
			border-radius: 50%;
			overflow: hidden;
			float: left;
			margin-right: 10px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.author-name{
			font-weight:bold;
			display: block;
			margin-top: 5px;
		}
		.age{
			font-size: 13px;
			color: #9c9c9c;
			margin-top: 5px;
			display: block;
		}
		.show-chat{
			margin-top: 20px;
			.input-textarea{
				resize: none;
				height: 100px;
			}
			.orangebutton {
				margin-top: 18px;
				padding: 15px 27px;
			}
		}
	}
}

.auth_form {
	display: block;
	width: 100%;
	margin-top: 30px;
	.input-text{
		height: 40px;
		line-height: 40px;
	}
}

.social_auth {
	text-align: center;
	a{
		display: inline-block;
		width: 40px;
		height: 40px;
		margin-right: 10px;
		border-radius: 4px;
		position: relative;
		&:last-child{
			margin-right: 0;
		}
	}
	.facebook-login{
		background-color: #3b5998;
		color: #fff;
		&:after{
			content: '';
			position: absolute;
			background: url('../img/sprite.svg') no-repeat -172px -119px;
			width: 8px;
			height: 15px;
			left:50%;
			top:50%;
			margin-left: -4px;
			margin-top: -7px;
		}
	}
	.vk-login{
		background: #507299;
		color: #fff;
		&:after{
			content: '';
			position: absolute;
			background: url('../img/sprite.svg') no-repeat -141px -122px;
			width: 18px;
			height: 10px;
			left:50%;
			top:50%;
			margin-left: -9px;
			margin-top: -5px;
		}
	}
	.google-login{
		color: #fff;
		background: #4285f4;
		&:after{
			content: '';
			position: absolute;
			background: url('../img/sprite.svg') no-repeat -193px -121px;
			width: 13px;
			height: 13px;
			left:50%;
			top:50%;
			margin-left: -6px;
			margin-top: -6px;
		}
	}
}

.popup-auth-title {
	font-size: 14px;
	padding-bottom: 16px;
	margin: 0 0 65px 0;
	position: relative;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	&:after{
		content: '';
		position: absolute;
		height: 1px;
		bottom:0;
		left: -30px;
		right: -30px;
		background: #e2e2e2;
	}
}

.popup-attach-title{
	font-size: 14px;
	padding: 0 30px 16px 30px;
	position: relative;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	&:after{
		content: '';
		position: absolute;
		height: 1px;
		bottom:0;
		left: 0;
		right: 0;
		background: #e2e2e2;
	}
}

.help-block {
	strong{
		font-size: 12px;
		font-weight: normal;
		color: $orange;
		margin-top: 3px;
		display: block;
		margin-left: 5px;
	}
}

.progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	background-color: #ff6701;
	transition: width .6s ease;
	text-align: center;
	padding: 1px 0;
	span{
		font-size: 12px;
	}
}

.bluetip_wrapper{
	display: none;
	.bluetip{
		background: #00518c;
		width: 100%;
		margin-top: 20px;
		background-image: url("../img/attention.svg");
		background-position: 25px 25px;
		background-size: 49px 49px;
		background-repeat: no-repeat;
		padding: 25px 65px 25px 110px;
		border-radius: 5px;
		color: #a9d3f1;
		font-size: 16px;
		position: relative;
		a{
			color: #fff;
		}
		.close_button{
			position: absolute;
			height: 22px;
			width: 22px;
			right: 25px;
			top: 25px;
			cursor: pointer;
			background-image: url("../img/close.svg");
			background-position: center center;
			background-size: 22px 22px;
		}
	}
}



@import '_responsive';